/*
General Styles
 */
body {
  background: #f2f2f2;
  font-size: 14px;
  color: #494949;
}

.navbar {
  margin-bottom: 0;
}

.spaceTop {
  margin-top: 20px;
}

.navbar .container {
  width: 1170px;
}

.well {
  background: #FFF;
  border: 1px solid #dfe9f6;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/*
General Typography
 */
h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu";
  line-height: 1.5em;
}

h1 {
  font-size: 22px;
  color: #494949;
  font-weight: 300;
}

h3 {
  font-weight: 400;
  color: #5d6d81;
  /* text color */
  font-size: 18px;
  display: block;
}

h4 {
  font-weight: 300;
  color: #9da7b3;
  /* text color */
  font-size: 14px;
  line-height: 0;
}

/*
Modal Styling
 */
/* General */
.modal.fade.in {
  top: 45%;
}

.modal {
  width: 712px;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #f1f1f1;
  /* layer fill content */
  -moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
  /* drop shadow */
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
  /* drop shadow */
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
  /* drop shadow */
}

.modal form {
  margin: 0;
}

/* Header */
.modal-header {
  height: 75px;
  padding: 0px;
  margin-bottom: 20px;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #eb5947;
  /* layer fill content */
}

i.s30 {
  font-size: 30px;
  margin: 0 auto;
  width: 38px;
  color: #fff;
  display: block;
  margin-bottom: 17px;
}

.control-group.error input {
  border-color: #c0392b;
}

/* Modal Body */
.modal-body {
  padding: 0;
}

.modalList {
  list-style: none;
  width: 275px;
  margin: 0 auto;
}

.modalList li {
  float: left;
  padding: 12px 15px;
  border-right: 1px solid white;
}

.modalList li:last-child {
  border: none;
}

.modalList li > a {
  font-weight: 300;
  color: #fff;
  font-size: 14px;
  font-family: "Ubuntu", helvetica, sans-serif;
}

.modalList li:hover,
.modalList li.active {
  background: #d35140;
}

.modalList li.active > a {
  font-weight: 500;
}

#modalTab .nav-tabs > .active > a {
  background-color: #f1f1f1;
}

#modalTab .tab-content .nav-tabs {
  margin-left: 20px;
  margin-right: 20px;
}

.battleNet,
.settings {
  display: none;
}

.characters {
  /* dropdown in accordion */
}

.characters .accordion-heading {
  position: relative;
}

.characters .accordion-heading .edit {
  position: absolute;
  top: 8px;
  right: 30px;
}

.characters .area {
  border-left: 4px solid #f38787;
}

/* Modal footer */
.modal-footer {
  border-top-color: #dfe9f6;
}

/**
 * The TOP Nav bar
 */
.navbar-inverse .navbar-inner {
  background-image: -moz-linear-gradient(top, #272727, #272727);
  background-image: -ms-linear-gradient(top, #272727, #272727);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#272727), to(#272727));
  background-image: -webkit-linear-gradient(top, #272727, #272727);
  background-image: -o-linear-gradient(top, #272727, #272727);
  background-image: linear, top, #272727, #272727;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'272727, endColorstr='#'272727, GradientType=0);
  height: 100px;
  line-height: 80px;
  border-radius: 0;
}

.navbar .brand {
  padding: 8px 20px 12px;
  color: #ededed;
  font-family: "Ubuntu";
  font-size: 24px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.56);
  /* drop shadow */
}

.navbar .divider-vertical {
  height: 41px;
  background-color: #ffffff;
  border-right: 1px solid #c6c6c6;
}

.navbar .nav {
  top: 27px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle,
.navbar .nav li.active:hover > a,
.navbar .nav li:hover > a,
.navbar .nav li.active > a {
  background: #eb5a47;
  color: #ffffff;
}

.navbar .nav > li.active:hover > a,
.navbar .nav > li:hover > a,
.navbar .nav > li.active > a {
  border-radius: 3px;
}

.dropdown-menu {
  border-color: #dfe9f6;
  -moz-border-radius: 1px 1px 3px 3px;
  -webkit-border-radius: 1px 1px 3px 3px;
  border-radius: 1px 1px 3px 3px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #fff;
  /* layer fill content */
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
  /* outer glow */
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
  /* outer glow */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
  /* outer glow */
  top: 46px;
}

.navbar .nav > li > a {
  padding: 10px 18px;
  color: #fff;
  /* text color */
  font-family: "Ubuntu";
  font-size: 16px;
  margin-right: 10px;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #424242;
}

/*
Slider
 */
.banner {
  position: relative;
  overflow: auto;
}

.banner li {
  list-style: none;
}

.banner ul li {
  float: left;
}

/*
Badges
*/
/* Big badges */
.badge-big:nth-child(4n+1) {
  margin-left: 0;
}

.badge-big {
  background: #FFF;
  border: 1px solid #dfe9f6;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  margin-bottom: 20px;
}

.badge-big.span3 {
  width: 268px;
}

.badge-big:hover {
  border-color: #8d97a6;
}

.badge-big > a.hidden-eye {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -ms-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.badge-big:hover > a.hidden-eye {
  color: #5d6d81;
}

.badge-body {
  padding: 20px;
  margin-bottom: 20px;
}

.avatar {
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  float: left;
  margin-right: 20px;
}

.badge-footer span {
  font-weight: 500;
}

.badge-footer p {
  margin: 5px 0 0 0;
}

.badge-footer > div {
  width: 50%;
  display: inline-block;
  float: left;
  height: 50px;
  text-align: center;
  color: #fff;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 12px;
}

.badge-footer .level {
  -moz-border-radius: 0 0 0 3px;
  -webkit-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #13b9d5;
  /* layer fill content */
}

.badge-footer .plevel {
  -moz-border-radius: 0 0 3px;
  -webkit-border-radius: 0 0 3px;
  border-radius: 0 0 3px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #f17935;
  /* layer fill content */
}

/* Small Badges */
.badge-small {
  width: 111px;
  height: 105px;
  border: 1px solid #dee8f6;
  /* stroke */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #fff;
  /* layer fill content */
  padding: 20px;
  float: left;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}

.badge-small > h3 {
  margin-top: 0;
}

.badge-small:nth-child(4n) {
  margin-right: 0;
}

.badge-small:hover {
  border-color: #8d97a6;
  cursor: pointer;
}

.badge-small-selected:hover,
.badge-small-selected {
  border: 1px solid #39b54a;
}

.badge-small > .avatar {
  float: none;
  margin: 0 auto;
  width: 64px;
}

.badge-small input[type="checkbox"] {
  display: none;
}

.badge-small > .icon-check-1 {
  display: none;
  font-size: 30px;
  color: #39b54a;
  position: absolute;
  bottom: 7px;
  right: 7px;
}

.inner-form {
  min-height: 150px;
  margin: 0 20px;
}

/*
CHARACTER view
    skillView
 */
.skillView {
  box-shadow: 0 0 0 1px #dfe9f6;
  background: #272727;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
  width: 458px;
  margin-bottom: 30px;
}

.skillView ul {
  list-style: none;
  margin-left: 0;
}

.skillView ul li {
  float: left;
  margin-right: 14px;
}

.skillView ul li:last-child {
  margin-right: 0;
}

/*
CHARACTER view
    characterView
 */
.actionBar {
  margin-left: 30px;
}

.table th, .table td {
  border: none;
}

.table th {
  padding: 8px 10px;
}

.table td {
  padding: 2px 20px;
}

.characterView {
  box-shadow: 0 0 0 1px #dfe9f6;
  background: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
  width: 458px;
  min-height: 638px;
  position: relative;
}

.characterView ul {
  list-style: none;
}

.characterView li {
  border: 1px solid #f1c40f;
  position: absolute;
}

.characterView img.unique {
  border-color: #d35400;
}

.characterView li.helm {
  top: 20px;
  left: 220px;
}

.characterView li.chest {
  top: 155px;
  left: 211px;
}

.characterView li.shoulders {
  top: 80px;
  left: 136px;
}

.characterView li.gloves {
  top: 214px;
  left: 100px;
}

.characterView li.belt {
  top: 325px;
  left: 220px;
}

.characterView li.pants {
  top: 395px;
  left: 220px;
}

.characterView li.boots {
  top: 529px;
  left: 220px;
}

.characterView li.amulet {
  top: 100px;
  left: 304px;
}

.characterView li.bracer {
  top: 170px;
  left: 325px;
}

.characterView li.mace {
  bottom: 20px;
  left: 100px;
}

.characterView li.sword {
  bottom: 20px;
  left: 325px;
}

.characterView li.ring {
  bottom: 230px;
  left: 325px;
}

.characterView li.ring:nth-child(2) {
  border-color: green;
}

/*
CHARACTER view
    tables
 */
.charToolbar .m-btn-strip {
  float: right;
  margin-right: 30px;
  margin-top: 8px;
}

.characterStatsRow div.span3 {
  width: 292px;
}

table.statistics {
  background: #FFF;
  -webkit-box-shadow: 0 0 0 1px #dfe9f6;
  box-shadow: 0 0 0 1px #dfe9f6;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

table.statistics > thead {
  background: #eb5a47;
  border-bottom: 1px solid #9b3b2f;
  width: 142%;
}

table.statistics thead th {
  color: #fff;
  font-family: 'Ubuntu';
  font-weight: 200;
}

table.statistics thead th:first-child {
  -webkit-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}

table.statistics thead th:last-child {
  text-align: right;
  -webkit-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}

table.statistics tr.secondTableHeader {
  background: #eb6d5c;
}

table.statistics tr.secondTableHeader:hover th {
  background: #eb6d5c;
}

table.statistics tr.secondTableHeader th {
  color: #fff;
  font-weight: 300;
  padding: 0 10px;
}

table.statistics tr.secondTableHeader a {
  color: #f1c40f;
  font-weight: 500;
}

table.statistics tbody {
  font-size: 12px;
}

table.statistics tbody tr:first-child td {
  padding-top: 10px;
}

table.statistics tbody tr:last-child td {
  padding-bottom: 10px;
}

table.statistics tbody tr > td:first-child {
  font-weight: 500;
}

table.statistics td {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}

table.statistics tr:hover td {
  background: #f1f1f1;
}

/*
    AH Tools Section
 */
.commodityCashOutProfit,
.itemCashOutProfit {
  font-weight: bold;
}

label.inline {
  display: block;
}
