.modalList {
    list-style:none;
}
.modalList li {
    float:left;
    margin: 0 10px;
}
.modal-header {
    padding: 28px 15px;
}

.battleNet,
.settings {
    display: none;
}

.characters {
  /* dropdown in accordion */
}
.characters .accordion-heading {
    position: relative;
}
.characters .accordion-heading .edit {
    position: absolute;
    top: 8px;
    right: 30px;
}
.characters .area {
    border-left: 4px solid #f38787;
}
/**
 * The TOP Nav bar
 */
.navbar-inverse .navbar-inner {
    background-image: -moz-linear-gradient(top, #272727, #272727);
    background-image: -ms-linear-gradient(top, #272727, #272727);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#272727), to(#272727));
    background-image: -webkit-linear-gradient(top, #272727, #272727);
    background-image: -o-linear-gradient(top, #272727, #272727);
    background-image: linear-gradient(top, #272727, #272727);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'272727, endColorstr='#'272727, GradientType=0);
    height: 100px;
    line-height: 80px;
    border-radius: 0;
}

.navbar .brand {
    padding: 8px 20px 12px;
    color: #ededed;
    font-family: "Ubuntu";
    font-size: 24px;
    text-shadow: 0 2px 3px rgba(0,0,0,.56); /* drop shadow */
}

.navbar .divider-vertical {
    height: 41px;
    background-color: #ffffff;
    border-right: 1px solid #c6c6c6;
}
.navbar .nav {
    top: 27px;
}


.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle,
.navbar .nav li.active:hover > a,
.navbar .nav li:hover > a,
.navbar .nav li.active > a {
    background: #eb5a47;
    border-radius: 3px;
    color: #ffffff;
}
.navbar .nav > li > a {
    padding: 10px 18px;
    color: #fff; /* text color */
    font-family: "Ubuntu";
    font-size: 16px;
    margin-right: 10px;
}


.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    color: #424242;
}


/*
Slider
 */
.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }

/*
Buttons
 */
.nw-btn {
    color: #FFF;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    padding: 20px 30px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 9px 0px #9b3b2f;
    -moz-box-shadow: 0px 9px 0px #9b3b2f;
    box-shadow: 0px 9px 0px #9b3b2f;
    font-size: 20px;
}
.red {
    background: #eb5a47;
}
.red:active {
    -webkit-box-shadow: 0 2px 0 #9b3b2f;
    -moz-box-shadow: 0 2px 0 #9b3b2f;
    box-shadow: 0 2px 0 #9b3b2f;
    position: relative;
    top: 7px;
}
